* {
	margin:0 auto;
	padding:0;
	box-sizing:border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */

nav .navicon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #46749d;
}

nav .navicon li {
  float: left;
}

nav .navicon .right {
  float: right;
}

nav .navicon a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav .navicon li a:hover {
  background-color: #bcbabe;
  cursor: pointer;
}

.cartModal ul li img {
  margin: auto;
  width: 19%;
  height: auto;
  border: 1px solid #46749d
}

/* HOMEBUTTON */

.homebutton {
  background-color: #46749d;
  text-align: center;
  padding: 15px;
}

.homebutton .link {
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  text-decoration: none;
}

/* VIDEO */

.video {
  margin: 10px 6%;
}

.video h1 {
  text-align: center;
}

.video span {
  text-transform: uppercase;
  color: #dec05f;
}

.iframe-container{
  margin: 13px 0;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-container .responsive-iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 90%;
}

.video p {
  text-align: center;
  margin-top: -34px;
}

/* TIER */

.tri-tier .heading {
  font-weight: 400;
  color: black;
  text-align: center;
  margin: 20px 6%;
}

.tri-tier .price-tier {
  display: block;
  justify-content: center;
  padding: 0 15px;
}

.price-tier .tier {
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 4px 5px 27px -8px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 5px 27px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 5px 27px -8px rgba(0,0,0,0.75);
}

.price-tier h6 {
  background-color: #dec05f;
  text-transform: uppercase;
  color: white;
  padding: 8px 15px;
  margin: 0;
  letter-spacing: 1px;
}

.price-tier .body {
  text-align: center;
  color: #dec05f;
}

.price-tier .body img {
  max-width: 42%;
  height: auto;
  padding-top: 5px;
}

.price-tier .body .price-tag {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 33px;
  margin: 10px 0px;
}

.price-tier button {
text-align: center;
outline: none;
-webkit-tap-highlight-color: transparent;
text-decoration: none !important;
display: inline-block;
background-color: #dec05f;
color: #fff;
letter-spacing: 1.5px;
text-transform: uppercase;
font-size: 24px;
padding: 7px 15px;
border-radius: 18px;
cursor: pointer;
border: none;
box-shadow: 1px 4px 15px #dec05f;
}


.price-tier .body p {
  font-size: 21px;
  font-weight: bold;
}

.price-tier .body .shipping {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0px;
}

.price-tier .body span {
  text-decoration: line-through;
  color: #dec05f;
}

.price-tier .body .total-price {
  margin-top: 3px;
  margin-bottom: 20px;
  font-weight: 400;
  color: black;
}

.price-tier .body h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: red;
}

.price-tier .tier:hover {
  box-shadow: 5px 5px 15px #dec05f;
}

/* GUARANTEE  */

.guarantee {
  margin: 20px 6%;
}

.guarantee .box {
  display: block;
  background-color: #fff4cf;
  border: 1px solid rgba(148, 151, 138, 0);

}

.guarantee .box img {
  display: block;
  margin: auto;
  width: 50%;
}

.guarantee p {
  line-height: 22px;
  font-size: 12px;
  margin: 10px 30px;
}

/* TESTIMONIALS */

.testimonial {
  margin: 0 6%;
}

.testimonial .personal {
  margin: 30px auto;
  padding: 30px;
  box-shadow: 4px 5px 27px -8px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 5px 27px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 5px 27px -8px rgba(0,0,0,0.75);
  border-radius: 5px;
}


.testimonial .profile .quote h4 {
  font-size: 21px;
  font-weight: 400;
}

.testimonial .profile .quote h3 {
  color: red;
  font-size: 26px;
  line-height: 126%;
  text-align: center;
  margin: 20px 0 22px;
  /* font-size: 30px; */
}

.testimonial .profile img {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.testimonial .personal .para .quote-para {
  line-height: 26px;
}

.testimonial .personal .para .name {
  text-align: center;
  margin-top: 11px;
}

.testimonial .para span {
  color: rgb(240, 164, 49);
}

/* FAQs */

.faq {
  margin: 20px 6%;
  background-color: #f5f5f5;
  border: 1px solid #a2a2a2;
}

.faq h4 {
  font-size: 34px;
  text-align: center;
  font-weight: 600;
  margin: 0;
  padding: 14px 0;
  background-color: #46749d;
  color: #fff;
}

.faq-section {
  padding: 10px 0;
  border-bottom: 1px dashed #a2a2a2;
  margin-bottom: 0px;
}

.faq-section p {
  padding: 0 20px;
  font-size: 20px;
  color: #333;
  margin-bottom: 16px;
}

.faq-section p:first-child {
  color: #46749d
}

/* NEWSLETTER */

.newsletter_bg {
  background: #f1f1f2;
  padding-top: 39px;
  padding-bottom: 46px;
}

.newsletter {
  text-align: center;
}

.newsletter h5,
.newsletter p {
  margin: 8px 0;
  font-weight: 700;
  color: #000!important;
  padding-bottom: 5px;
  padding-top: 0;
  font-size: 17px;
}

.newsletter .contact_email {
  width: 320px;
  display: inline-block;
  height: 42px;
  min-height: 42px;
  margin: 0;
  border: 1px solid #ccc;
  outline: 0;
  background: #fff;
  color: #5f6a7d;
  font: 13px HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 15px;
  -webkit-appearance: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  padding: 0 20px;
  border-radius: 100px;
}

.newsletter button {
  display: inline-block;
  width: 120px;
  margin-left: 5px;
  padding-left: 0;
  padding-right: 0;
  float: none;
  background: #46749d;
  color: #fff;
  border: 1px solid #46749d;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
  min-height: 42px;
  height: 40px;
  line-height: 1.2;
  vertical-align: top;
  font-family: HelveticaNeue-Light,'Helvetica Neue Light',HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all .2s linear;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  border-radius: 100px;
}

/* REGISTER/LOGIN */

.register .form-control,
.login .form-control {
  margin: 10px 6%;
}

.register h1,
.login h1 {
  text-align: center;
  margin: 24px 6%;
  font-family: Montserrat;
  font-size: 41px;
  font-weight: 300;
}

.register label,
.login label {
  font-size: 19px;
}

.register .error,
.login .error,
.newsletter .error {
  color: red;
}

.register button,
.login button {
  background: #46749d;
  color: #fff;
  border: 1px solid #46749d;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
  min-height: 42px;
  height: 40px;
  line-height: 1.2;
  vertical-align: top;
  font-family: HelveticaNeue-Light,'Helvetica Neue Light',HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.register input[type=text],
.register input[type=password],
.login input[type=text],
.login input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


.register .toLogin,
.login .toRegister {
  float: right;
  text-decoration: none;
  color: #46749d;
}

/* FOOTER */

.footer {
  font-size: 13px;
  padding: 20px 0;
  border-top: solid 1px #bcbabe;
  background-color: #46749d;
  color: #fff1f1;
}

.foot-container {
  margin: auto;
  width: 50%;
}

.footer h6 {
  font-size: 21px;
  line-height: 1.5;
  margin: 10px 0;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.footer h6 span {
  float: right;
  cursor: pointer;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  color: white;
  text-decoration: none;
  line-height: 1.7;
  color:#000
}

.footer ul li a {
  font-size: 16px;
}

.social-icons {
  text-align: center;
}

.footer .social-icons > li {
  display: inline-block;
  margin: 18px 23px;
}

.social-icons i {
  font-size: 35px;
  color: white;
}

.footer hr {
  margin: 5px 6%;
}

.footer .rights {
  margin: 17px 0px 5px 0px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .tri-tier {
      margin: 20px 6%;
  }

  .tri-tier .price-tier {
      display: flex;
      justify-content: center;
      margin: 0px 10px;
  }

  .price-tier .tier {
      margin: 0px 25px;
  }

  .guarantee {
      padding: 35px 80px;
  }

  .guarantee .box {
      background-color: #fff4cf;
      display:flex;
      align-items: center;
      box-shadow: 2px 3px 5px 0px rgba(100,95,43,0.75);
      -webkit-box-shadow: 2px 3px 5px 0px rgba(100,95,43,0.75);
      -moz-box-shadow: 2px 3px 5px 0px rgba(100,95,43,0.75);
  }

  .guarantee .box img {
      width: auto;
      height: 100%;
      padding: 15px;
  }

  .guarantee p {
      line-height: 30px;
      font-size: 18px;
  }

  .testimonial .personal .profile {
      display: flex;
      justify-content: space-between;
  }

  .testimonial .profile .quote h3 {
      font-size: 30px;
  }
}